*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --orange: #FF9500;
    --grey: #505050;
    --black: #1C1C1C;
    --white: #D4D4D2;
}

.container {
    background-color: rgb(180, 119, 119);
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    overflow: hidden;
}

.header {
    font-size: 30px;
    font-weight: 900;
    color: var(--orange);
}

.calculator {
    height: 90%;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
}

.screen-container {
    margin-top: 0px;
    height: 30%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid red;
    flex-shrink: 0;
}

.screen-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid blue;
    overflow: hidden;
}


.display {
    font-size: 40px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #D4D4D2;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 0;
    min-width: 0;
}

.key-container {
    /* border:1px solid red; */
    border-radius: 25px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.row {
    display: flex;
    /* border: 1px solid red; */
    border-radius: 25px;
    flex-grow: 1;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.row .btn button {
    height: 60px;
    aspect-ratio: 1;
    border: 0.5px solid white;   
    /* border: 1px solid red; */
    border-radius: 50%;
    font-size: 30px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-delete button,
.btn-clear button,
.btn-percentage button {
    background-color: grey;
}

.btn-divide button,
.btn-multiply button,
.btn-minus button,
.btn-plus button,
.btn-equal button {
    background-color: var(--orange);
}

.btn-1 button,
.btn-2 button,
.btn-3 button,
.btn-4 button,
.btn-5 button,
.btn-6 button,
.btn-7 button,
.btn-8 button,
.btn-9 button,
.btn-negative button,
.btn-0 button,
.btn-dot button {
    background-color: rgb(61, 61, 61);
}

.row .btn button:active {
    transform: translate3d(-5px, -5px, -5px);
    box-shadow: -5px 3px gold;
}